/* ================= Variables & Resets ================= */
:root {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --primary-color: #e11d48;
  --card-bg: #1e293b;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;

}